<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.swsoft.walkingtogether">
    
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/wticon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/wticon_round"
        android:supportsRtl="true"
        android:theme="@style/WalkingTogetherNoActionBar"
        android:usesCleartextTraffic="true">
        <activity
            android:name="com.swsoft.walkingtogether.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Redirect URI: "kakao{NATIVE_APP_KEY}://oauth" -->
                <data android:host="oauth"
                    android:scheme="kakao80e60226ec3a106a2f6b4f9462da7a74" />
            </intent-filter>
        </activity>

        <activity android:name="com.swsoft.walkingtogether.Login"></activity>
        <activity android:name="com.swsoft.walkingtogether.Howto"></activity>
        <activity android:name="com.swsoft.walkingtogether.RoomList"></activity>
        <activity android:name="com.swsoft.walkingtogether.CreatRoom"></activity>
        <activity android:name="com.swsoft.walkingtogether.RoomInfo"></activity>
        <activity android:name="com.swsoft.walkingtogether.Waiting"></activity>
        <activity android:name="com.swsoft.walkingtogether.Walking"></activity>
        <activity android:name="com.swsoft.walkingtogether.Finish"></activity>
        <activity android:name="com.swsoft.walkingtogether.Notice"></activity>
        <activity android:name="com.swsoft.walkingtogether.MyInfo"></activity>
        <activity android:name="com.swsoft.walkingtogether.UserInfo"></activity>
        <activity android:name="com.swsoft.walkingtogether.JoinUsers"></activity>
        <activity android:name="com.swsoft.walkingtogether.Setting"></activity>
        <activity android:name="com.swsoft.walkingtogether.SignupPage"></activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBsNut6-NKtQU3fksfk7zE8WVlPOw0-5Q8" />


    </application>

</manifest>