<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.swsoft.walkingtogether">
    
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/wticon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/wticon_round"
        android:supportsRtl="true"
        android:theme="@style/WalkingTogetherNoActionBar"
        android:usesCleartextTraffic="true">
        <activity
            android:name="com.swsoft.walkingtogether.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Redirect URI: "kakao{NATIVE_APP_KEY}://oauth" -->
                <data android:host="oauth"
                    android:scheme="kakao80e60226ec3a106a2f6b4f9462da7a74" />
            </intent-filter>
        </activity>

        <activity android:name="com.swsoft.walkingtogether.login"></activity>
        <activity android:name="com.swsoft.walkingtogether.howto"></activity>
        <activity android:name="com.swsoft.walkingtogether.roomlist"></activity>
        <activity android:name="com.swsoft.walkingtogether.createroom"></activity>
        <activity android:name="com.swsoft.walkingtogether.roominfo"></activity>
        <activity android:name="com.swsoft.walkingtogether.waiting"></activity>
        <activity android:name="com.swsoft.walkingtogether.walking"></activity>
        <activity android:name="com.swsoft.walkingtogether.finish"></activity>
        <activity android:name="com.swsoft.walkingtogether.notice"></activity>
        <activity android:name="com.swsoft.walkingtogether.myinfo"></activity>
        <activity android:name="com.swsoft.walkingtogether.userinfo"></activity>
        <activity android:name="com.swsoft.walkingtogether.users"></activity>
        <activity android:name="com.swsoft.walkingtogether.setting"></activity>
        <activity android:name="com.swsoft.walkingtogether.signuppage"></activity>

    </application>

</manifest>